<!-- vim: set ft=gotplhtml: -->
{{ define "import" }}
<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    {{ template "head" }}
    <meta name="go-import" content="go.astrophena.name/{{ .Name }} git https://github.com/astrophena/{{ .Name }}">
    <meta name="forge:summary" content="https://github.com/astrophena/{{ .Name }}">
    <meta name="forge:dir" content="https://github.com/astrophena/{{ .Name }}/tree/{ref}/{path}">
    <meta name="forge:file" content="https://github.com/astrophena/{{ .Name }}/tree/{ref}/{path}">
    <meta name="forge:rawfile" content="https://github.com/astrophena/{{ .Name }}/blob/{ref}/{path}">
    <meta name="forge:line" content="https://github.com/astrophena/{{ .Name }}/tree/{ref}/{path}#L{line}">
    <title>go.astrophena.name/{{ .Name }}</title>
  </head>
  <body>
    {{ if not .Private }}
      {{ template "header" }}
      <main>
        <h1>
          <a href="/">go.astrophena.name</a>/{{ .Name }}
          <span class="module">Module</span>
        </h1>
        <p class="meta">
          {{ template "icon" "github" }}<a href="https://github.com/astrophena/{{ .Name }}">GitHub repository</a>
        </p>
        {{ if .Archived }}
          <div class="alert">
            This module is unmaintained.
          </div>
        {{ end }}
        <p>{{ .Description }}</p>
        {{ if .Pkgs }}
          <!-- If we have a single package rooted at module path, put the full docs on a page.-->
          {{ if hasOnePkg . }}
            {{ $pkg := index .Pkgs 0 }}
            {{ $pkg.FullDoc }}
          {{ else }}
            <h2>Packages and commands</h2>
            {{ range .Pkgs }}
              {{ if not (contains .ImportPath "internal") }}
                {{ if eq .BasePath .Repo.Name }}
                  <h3>{{ .ImportPath }}</h3>
                {{ else }}
                  <h3><a href="/{{ .BasePath }}">{{ .ImportPath }}</a></h3>
                {{ end }}
                <p>{{ .Doc }}</p>
                {{ if eq .Name "main" }}
                  <pre>$ go install {{ .ImportPath }}@latest</pre>
                {{ else }}
                  <pre>$ go get {{ .ImportPath }}</pre>
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </main>
      {{ template "footer" . }}
    {{ else }}
      <main>
        <h1>Whoa there!</h1>
        <p>This module is private.</p>
        <p>
          To fetch it, ensure that your <code>GOPRIVATE</code> environment variable includes
          <code>{{ .ImportPath }}</code> and you have access to it.
        </p>
        <p>
          See <a href="https://go.dev/ref/mod#private-module-privacy">Go documentation</a> for reference.
        </p>
        <p>If you are get here by mistake, go to the <a href="https://astrophena.name">home page</a>.</p>
      </main>
    {{ end }}
  </body>
</html>
{{ end }}
