<!-- vim: set ft=gotplhtml: -->
<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="go-import" content="go.astrophena.name/{{ .Name }} git https://github.com/astrophena/{{ .Name }}">
    <meta name="forge:summary" content="https://github.com/astrophena/{{ .Name }}">
    <meta name="forge:dir" content="https://github.com/astrophena/{{ .Name }}/tree/{ref}/{path}">
    <meta name="forge:file" content="https://github.com/astrophena/{{ .Name }}/tree/{ref}/{path}">
    <meta name="forge:rawfile" content="https://github.com/astrophena/{{ .Name }}/blob/{ref}/{path}">
    <meta name="forge:line" content="https://github.com/astrophena/{{ .Name }}/tree/{ref}/{path}#L{line}">
    <title>go.astrophena.name/{{ .Name }}</title>
  </head>
  <body>
    <main>
      <h1><pre>go.astrophena.name/{{ .Name }}</pre></h1>
      <p>{{ .Description }}</p>
      <p><a href="https://godocs.io/go.astrophena.name/{{ .Name }}">Documentation on godocs.io</a></p>
      <p><a href="https://pkg.go.dev/go.astrophena.name/{{ .Name }}">Documentation on pkg.go.dev</a></p>
    </main>
  </body>
</html>
