<!-- vim: set ft=gotplhtml: -->
<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#12161a" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="https://astrophena.name/icons/36x36.webp" />
    <link rel="apple-touch-icon" href="https://astrophena.name/icons/180x180.webp" />
    <link rel="alternate" type="application/atom+xml" href="https://astrophena.name/feed.xml" />
    <link rel="manifest" href="https://astrophena.name/manifest.json" />
    <link rel="stylesheet" href="https://astrophena.name/style.css" />
    <title>Go Packages</title>
  </head>
  <body>
      <header>
        <h1>
          <img src="https://astrophena.name/icons/180x180.webp" alt="Avatar" class="avatar">
          
          <a href="https://astrophena.name">Ilya Mateyko</a>
          
        </h1>
        <nav>
          <a href="https://astrophena.name/blog">
<svg class="icon" aria-hidden="true">
  <use xlink:href="https://go.astrophena.name/sprite.svg#icon-blog"/>
</svg>Blog</a>
          <a href="https://go.astrophena.name" class="current">
<svg class="icon" aria-hidden="true">
  <use xlink:href="https://go.astrophena.name/sprite.svg#icon-go-packages"/>
</svg>Go Packages</a>
          <a href="https://astrophena.name/watched">
<svg class="icon" aria-hidden="true">
  <use xlink:href="https://go.astrophena.name/sprite.svg#icon-watched"/>
</svg>Watched</a>
        </nav>
      </header>
    <main>
      <h1>Go Packages</h1>
      {{ range . }}
        {{ if not .Archived }}
          <h2><a href="/{{ .Name }}">go.astrophena.name/{{ .Name }}</a></h2>
          <a href="https://godocs.io/go.astrophena.name/{{ .Name }}"><img src="https://godocs.io/go.astrophena.name/{{ .Name }}?status.svg" alt="Go Documentation"></a>
          <a href="https://github.com/astrophena/{{ .Name }}"><img alt="Source code link" src="https://img.shields.io/badge/source-link-green"></a>
          <p>{{ .Description }}</p>
        {{ end }}
      {{ end }}
      <details>
        <summary>No longer maintained</summary>
        {{ range . }}
          {{ if .Archived }}
            <h2><a href="/{{ .Name }}">go.astrophena.name/{{ .Name }}</a></h2>
            <a href="https://godocs.io/go.astrophena.name/{{ .Name }}"><img src="https://godocs.io/go.astrophena.name/{{ .Name }}?status.svg" alt="Go Documentation"></a>
            <a href="https://github.com/astrophena/{{ .Name }}"><img alt="Source code link" src="https://img.shields.io/badge/source-link-green"></a>
            <p>{{ .Description }}</p>
          {{ end }}
        {{ end }}
      </details>
    </main>
          <footer>
        The content for this website is licensed under
        <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>, the code is
        <a href="https://opensource.org/licenses/ISC">ISC</a>
        licensed.
      </footer>

  </body>
</html>
