<!-- vim: set ft=gotplhtml: -->
<!DOCTYPE html>
<html lang="en" translate="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#12161a" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' astrophena.name" />
    <link rel="icon" href="https://astrophena.name/icons/36x36.webp" />
    <link rel="apple-touch-icon" href="https://astrophena.name/icons/180x180.webp" />
    <link rel="alternate" type="application/atom+xml" href="https://astrophena.name/feed.xml" />
    <link rel="manifest" href="https://astrophena.name/manifest.json" />
    <link rel="stylesheet" href="https://astrophena.name/style.css" />
    <meta name="go-import" content="{{ .ImportPath }} git https://github.com/astrophena/{{ .Repo.Name }}">
    <meta name="forge:summary" content="https://github.com/astrophena/{{ .Repo.Name }}">
    <meta name="forge:dir" content="https://github.com/astrophena/{{ .Repo.Name }}/tree/{ref}/{path}">
    <meta name="forge:file" content="https://github.com/astrophena/{{ .Repo.Name }}/tree/{ref}/{path}">
    <meta name="forge:rawfile" content="https://github.com/astrophena/{{ .Repo.Name }}/blob/{ref}/{path}">
    <meta name="forge:line" content="https://github.com/astrophena/{{ .Repo.Name }}/tree/{ref}/{path}#L{line}">
    <title>{{ .ImportPath }}</title>
  </head>
  <body>
      <header>
        <h1>
          <img src="https://astrophena.name/icons/180x180.webp" alt="Avatar" class="avatar">

          <a href="https://astrophena.name">Ilya Mateyko</a>
          
        </h1>
        <nav>
          <a href="https://astrophena.name/blog">
<svg class="icon" aria-hidden="true">
  <use xlink:href="https://go.astrophena.name/sprite.svg#icon-blog"/>
</svg>Blog</a>
          <a href="https://go.astrophena.name">
<svg class="icon" aria-hidden="true">
  <use xlink:href="https://go.astrophena.name/sprite.svg#icon-go-packages"/>
</svg>Go Packages</a>
          <a href="https://astrophena.name/watched">
<svg class="icon" aria-hidden="true">
  <use xlink:href="https://go.astrophena.name/sprite.svg#icon-watched"/>
</svg>Watched</a>
        </nav>
      </header>
    <main>
      <h1>{{ .ImportPath }}</h1>
      <p class="meta">
      <a href="https://github.com/astrophena/{{ .Repo.Name }}/tree/master/{{ .BasePath }}">Source code</a> |
        <a href="https://godocs.io/{{ .ImportPath }}">Documentation</a>
      </p>
      {{ if .Repo.Archived }}
      <div class="alert">
        This project is unmaintained.
      </div>
      {{ end }}
      <p>{{ .Doc }}</p>
      {{ if eq .Name "main" }}
      <pre>$ go install {{ .ImportPath }}@latest</pre>
      {{ else }}
      <pre>$ go get {{ .ImportPath }}</pre>
      {{ end }}
    </main>
      <footer>
      Built by <a href="https://github.com/astrophena/vanity/tree/{{ rev }}">vanity</a>
      <a href="https://github.com/astrophena/vanity/commit/{{ rev }}">{{ rev }}</a>.
      The content for this website is licensed under
      <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>, the code is
      <a href="https://opensource.org/licenses/ISC">ISC</a>
      licensed.
    </footer>
  </body>
</html>
