name: 'Deploy'
on:
  push:
    branches: ['master']
  workflow_dispatch:
  schedule:
    # Every day (at 07:00).
    - cron: '0 4 * * *'
jobs:
  deploy:
    name: 'Deploy'
    environment:
      name: 'github-pages'
      url: '${{ steps.deployment.outputs.page_url }}'
    permissions:
      pages: 'write'    # to deploy to Pages
      id-token: 'write' # to verify the deployment originates from an appropriate source
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Check out'
        uses: 'actions/checkout@v4'
      - name: 'Set up Go'
        uses: 'actions/setup-go@v5'
        with:
          go-version-file: 'go.mod'
      - name: 'Set up cache'
        uses: 'actions/cache@v4'
        with:
          path: 'cache'
          key: '${{ github.sha }}-cache'
      - name: 'Build'
        env:
          GITHUB_TOKEN: '${{ secrets.GH_TOKEN }}'
        run: './build.go -cache-dir cache'
      - name: 'Setup GitHub Pages'
        if: "${{ hashFiles('build/') != '' }}"
        uses: 'actions/configure-pages@v5'
      - name: 'Upload built site'
        if: "${{ hashFiles('build/') != '' }}"
        uses: 'actions/upload-pages-artifact@v3'
        with:
          path: 'build'
      - name: 'Deploy to GitHub Pages'
        if: "${{ hashFiles('build/') != '' }}"
        id: 'deployment'
        uses: 'actions/deploy-pages@v4'
